.App {
  text-align: center;
}
/* Carousel page styling */
.content {
  position: relative;
}
.carousel-content {
  position: absolute;
  /*to center the content horizontally and vertically*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 50;
}

.slideshow {
  height: 100%;
  overflow: hidden; /* to hide slides in x-direction */
  position: relative;
}
/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
  display: flex;
  /* i give the width 300 beacuse i have taken 3 images */
  width: 300%;
  height: 100%;
  position: relative;

  animation: slideshow 20s infinite;
}
/* define width and height for images*/
.slide {
  width: 100%;
  height: 100%;
}
.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* @keyframes are used to provide animations
We make these settings for 3 image carousel. */
@keyframes slideshow {
  0% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -100%;
  }
  25% {
    left: -100%;
  }
  30% {
    left: -200%;
  }
  40% {
    left: -200%;
  }
  45% {
    left: -100%;
  }
  55% {
    left: -100%;
  }
  60% {
    left: 0%;
  }
  70% {
    left: 0%;
  }
}
/* ----- end of slideshow stylings ----- */

/* ----- carousel control buttons stylings ----- */
.slide-btn {
  background-color: #bbb;
  border-radius: 50%;
  border: 0.2rem solid #d38800;
  width: 1.2rem;
  height: 1.2rem;
  outline: none;
  cursor: pointer;
  /* stylings for positioning the buttons at
  the bottom of the carousel */
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 70;
}
/* As we provide position as absolute,
the buttons places one over the other.
So, we have to place them individually
at their correct positions. */
.slide-btn-1 {
  left: 45%;
}
.slide-btn-2 {
  left: 50%;
}
.slide-btn-3 {
  left: 55%;
}
.slide-btn-4 {
  left: 60%;
}
/* When we focus on the particular button,
the animation stops to that particular image
to which the button is associated. */
.slide-btn-1:focus ~ .slideshow-wrapper {
  animation: none;
  left: 0;
}
.slide-btn-2:focus ~ .slideshow-wrapper {
  animation: none;
  left: -100%;
}
.slide-btn-3:focus ~ .slideshow-wrapper {
  animation: none;
  left: -200%;
}
/* when we focus on the button, the background color changes */
.slide-btn:focus {
  background-color: #308d46;
}
/* nav bar ppage styling  */
.NavbarPage{
  background-color: #cf102d;
}
/* FilerBar PAge Css ***************************************************************/
.Flex {
  display: flex;
  margin-top: 1%;
  padding-left: 28%;
  padding-top: 2%;
  padding-bottom: 2%;
  /* background-color: #cf102d; */
}
.SearchDiv{
  display: flex;
  width: 100%;
  /* background-color: #cf102d; */
}
.SearchDiv1{
  background-color: #cf102d
}
@media only screen and (max-width: 688px) {
  div.SearchDiv{
    display: inline-block;
  }
     
 }
select {
  padding: 1%;
  font-size: 18px;
}

/* productView page styling */
#products {
  overflow: hidden;
}

#products .product {
  float: left;
  margin-bottom: 20px;
  max-width: 280px;
  padding: 20px;
  text-align: center;
}

#products .product .title a {
  text-decoration: none;
  font-size: 16px;
  font-weight: light;
  color: #000000;
}
#products .product .add-to-cart {
  width: 500px;
  background: #fad1cf;
  padding: 8px 14px 10px;
  border: 1px solid #3e9cbf;
  cursor: pointer;
  font-size: 1.2em;
  display: block;
  max-width: 60%;
  margin: 20px auto 0px;
  text-decoration: none;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.7);
  color: black;
  -webkit-box-shadow: inset 0px 1px 0px #2f373a, 0px 5px 0px 0px #f486a9f5,
    0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 5px 0px 0px #205c73,
    0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #f486a9f5, 0px 5px 0px 0px #f486a9f5,
    0px 10px 5px #f486a9f5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#products .product .add-to-cart:hover,
#products .product .add-to-cart:focus,
#contact-form .submit input[type="submit"]:hover,
#contact-form .submit input[type="submit"]:focus {
  color: dodgerblue;
  -webkit-box-shadow: inset 0px 1px 0px dodgerblue, 0px 2px 0px 0px dodgerblue,
    0px 2px 5px dodgerblue;
  -moz-box-shadow: inset 0px 1px 0px dodgerblue, 0px 2px 0px 0px dodgerblue,
    0px 2px 5px dodgerblue;
  box-shadow: inset 0px 1px 0px dodgerblue, 0px 2px 0px 0px dodgerblue,
    0px 2px 5px dodgerblue;
}
.ProductImg{
  width: 50%;
}

/* signup css*/
input[type="text"],
input[type="number"],
input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 1px 0 18px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 20px;
  color: #000000;
  font-size: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  background-color: #ddd;
  outline: none;
}
.container1 {
  margin-top: 2%;
  border: solid dodgerblue 2px;
  border-radius: 10%;
  background-color: gray;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 2%;
}
.SignUpBUtton {
  background-color: lightblue;
  padding: 3%;
  font-size: 17px;
  border-style: none;
  border-radius: 20px;
}
/* Login and sighup page css */
.LoginPage {
  border-radius: 24px;
  margin-top: 1%;
  padding: 2%;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  transition: 0.3s;
  background-color: white;
}
.LoginPage:hover {
  box-shadow: 0 0 5px 5px lightblue;
}
.TheameLogo1{
  margin-left: 45%;
  width: 3%;
}
/*cART PAGE STYLING */
.cartDiv {
  border-radius: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  width: 50%;

  padding-bottom: 2%;
  box-shadow: 0 8px 8px -4px lightblue;
  background-color: #eee;
}
.CartDivDeatail {
  display: flex;
  column-gap: 9%;
  margin-top: 2%;
  padding-top: 1%;
  margin-right: 4%;
}
.Cart {
  padding: 1% 2% 2% 3%;
  height: 100%;
  padding-bottom: 4%;
}
.ProductNameDiv {
  margin-top: 9%;
  font-size: 20px;
}
.quantityButtonDiv {
  margin-top: 10%;
}
.Button1 {
  background-color: lightblue;
  padding: 3% 5% 3% 5%;
  border-style: none;
  border-radius: 22%;
  margin-left: 4%;
}
.Quantitybutton {
  border-radius: 50%;
  border-style: none;
  height: 26%;
  width: 100%;
  /* padding: 2%; */
  background-color: lightblue;
  color: #000000;
  font-size: 18px;
}
.CartImgDiv {
  width: 60%;
  border-radius: 30%;
  /* height: 13%; */
}
.CartImgDiv:hover {
  box-shadow: 0 0 50px #ccc;
}
.TheameLogo {
  width: 15%;
  margin-left: 55%;
}
.EmptyCartPara {
  padding: 4%;
  border-radius: 14px;
  border: solid goldenrod 4px;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0 0 50px #ccc;
}
.BackBUtton {
  margin-top: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20%;
  border-style: none;
  font-size: 20px;
  padding-left: 3%;
  padding-right: 3%;
  margin-right: 75%;
}
.PageDiv{
  /* margin-top: 8%; */
}
.LoginSignUpLink{
  cursor: pointer;
}
.flex {
  display: flex;
  column-gap: 36%;
}
.TotalPrice {
  font-size: 18px;
  color: black;
}
.Filter {
  font-size: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border-style: none;
  border-radius: 5px;
}
/* product VIEW page style */
#SearchResultPara {
  text-align: center;
  color: black;
  font-size: 30px;
  margin-right: 59%;
}

/* Footer Styling */
.Footer {
  justify-content: center;
  text-align: center;
  display: flex;
  column-gap: 6%;
  background-color: #1b1918;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 4%;
}
.FooterDiv {
  width: 25%;
}
@media only screen and (max-width: 780px) {
  div.Footer{
  display: inline;
   }
 }